NEXT_PUBLIC_BACKEND_URL=https://email-schedule-gr55.onrender.com
NEXT_PUBLIC_API_URL=https://email-schedule-gr55.onrender.com/api
NEXT_PUBLIC_BULL_BOARD_URL=https://email-schedule-gr55.onrender.com/admin/queues
